// Body Settings

// Body custom variables
$line-height: 1.1;
$border-radius: 4px;
$background-color: $whiteF8;
$font-color: $grey;

// Body custom classes
html {
    height: 100%;
}

body {
    @extend %base-font;
    background-color: $background-color;
    font-size: $base-font-size;
    color: $font-color;
    line-height: $line-height;
    height: 100%;
    -webkit-text-size-adjust: 100%; // Disable Safari resizes text on orientation change
}